body{
  background-color: rgba(0, 132, 255, 0.712);
  font: normal 15pt Arial;
}

header{
  color: white;
  text-align: center;

}

section{
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
}